*,
*::before,
*:after {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  margin: 0;
}
header {
  min-height: 10vh;
  background-image: url('./images/header_bg.png');
}
main {
  width: 100%;
  height: fit-content;
}
.content-title {
  text-align: center;
  padding: 1rem;
}
.header-logo {
  height: 8vh;
  margin-left: 2rem;
}

.book-image {
  width: 80%;
}
.book {
  max-height: 50vh;
  border: 2px solid burlywood;
  aspect-ratio: 1/1.5;
}
.book-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 2px solid blueviolet;
}
.add-book {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal {
  margin: auto;
  padding: 1rem;
  min-width: 10ch;
  min-height: 40%;
}
form {
  display: flex;
  flex-direction: column;
}
.formButtons,
.formNumbers {
  display: flex;
}

#title,
#author {
  width: 30ch;
}
#year,
#pages {
  width: 7ch;
}
.radioButtons {
  display: flex;
}
label {
  margin-right: 1rem;
}
